services:

  api:
    build: .
    container_name: fastapi_api
    ports:
      - "80:8000"
    env_file:
      - .env

    volumes:
      - ./logs:/app/logs

    logging:
      driver: "local"
      options:
        max-size: "10m"
        max-file: "3"

    depends_on:
      - redis
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --access-log


  redis:
    image: redis:7-alpine
    container_name: redis_server
    restart: always

    logging:
      driver: "local"
      options:
        max-size: "10m"
        max-file: "3"


  worker:
    build: .
    env_file:
      - .env  
    depends_on:
      - redis

    volumes:
      - ./logs:/app/logs

    logging:
      driver: "local"
      options:
        max-size: "10m"
        max-file: "3"

    command: rq worker video_queue
